@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'MiniPixel';
  src: local('MiniPixel'),
    url('/fonts/MiniPixel/MiniPixel.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaBlack';
  src: local('ProximaNovaBlack'),
    url('/fonts/ProximaNova/proximanova_black.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNovaBlackItalic';
  src: local('ProximaNovaBlackItalic'),
    url('/fonts/ProximaNova/proximanova_black_italic.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNovaBoldItalic';
  src: local('ProximaNovaBoldItalic'),
    url('/fonts/ProximaNova/proximanova_bold_italic.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: local('ProximaNovaBold'),
    url('/fonts/ProximaNova/proximanova_bold.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: local('ProximaNovaExtraBold'),
    url('/fonts/ProximaNova/proximanova_extrabold.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: local('ProximaNovaRegular'),
    url('/fonts/ProximaNova/proximanova_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: local('ProximaNovaLight'),
    url('/fonts/ProximaNova/proximanova_light.otf') format('opentype');
}

.bg-gradient-1 {
  background: linear-gradient(
    147.83deg,
    #a0fae3 8.25%,
    #bcd7ee 14.99%,
    #d8b7fa 22.4%,
    rgba(255, 113, 167, 0.88) 75.61%
  );
}

.bg-gradient-2 {
  background: linear-gradient(
    148.67deg,
    #ff71a7 4.84%,
    #fc94ff 91.78%,
    #d8b7fa 193.85%
  );
}

.bg-gradient-3 {
  background: linear-gradient(
    258.41deg,
    #ff71a7 24.69%,
    #fc94ff 75.25%,
    #d8b7fa 114.1%
  );
}

.bg-gradient-4 {
  background: linear-gradient(
    331.57deg,
    #ff71a7 -1.31%,
    #fc94ff 42.6%,
    #d8b7fa 64.79%,
    #67e1f2 89.34%
  );
}

@layer components {
  .content-container {
    @apply max-w-[1065px] w-full m-auto flex flex-col;
  }
  .button-outline {
    @apply text-white cursor-pointer bg-transparent border-solid border-white py-[0.75em] px-[1.25em] border-[0.08rem] self-start text-[1.25em] rounded-full;
    font-family: 'ProximaNovaBold';
  }
  button:disabled {
    @apply opacity-40 cursor-default;
  }
  a.button-outline {
    text-decoration: none;
    color: white;
  }
  button:active .button-outline:active {
    @apply opacity-70;
  }
  button:hover .button-outline:active {
    @apply opacity-90;
  }
  .button-solid {
    @apply py-[0.75em] cursor-pointer border-none text-white px-[1.5em] opacity-90 bg-[#FF71A7] self-start text-[1.2em] rounded-full;
    font-family: 'ProximaNovaBold';
  }
  .text-content {
    @apply px-[30px] sm:px-[90px];
  }
  .content-container h1 {
    @apply font-bold text-center text-[5.5em] text-white;
    letter-spacing: 4px;
    line-height: 0.62em;
    margin: 0px;
    font-family: 'MiniPixel';
  }
  .content-container h2 {
    @apply font-bold text-[2em] flex flex-1;
    font-family: 'Montserrat Alternates';
  }
  .content-container h3 {
    @apply font-bold text-[1.7em];
    font-family: 'Montserrat Alternates';
  }
  .content-container p {
    @apply font-[1em];
    line-height: 1.35em;
    font-family: 'ProximaNovaRegular';
  }
  .large-input {
    @apply border-[1px] text-[1.3em] text-[#FF71A7] border-[#FF82B2] bg-white rounded-[0.6em] w-full py-[0.6em] px-[1em] border-solid;
    font-family: 'ProximaNovaRegular';
  }
  input.large-input::placeholder {
    @apply text-[#FF71A7] opacity-30 text-[1.3em];
  }
}
.content-container {
  font-size: 16px;
}
@media (max-width: 990px) {
  .content-container {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .content-container {
    font-size: 13px;
  }
}

@media (max-width: 620px) {
  .content-container {
    font-size: 12px;
  }
}

:root {
  --ifm-color-primary: #ff82b2;
  --ifm-color-primary-dark: #ff82b2;
  --ifm-color-primary-darker: #ff82b2;
  --ifm-color-primary-darkest: #ff82b2;
  --ifm-color-primary-light: #ff82b2;
  --ifm-color-primary-lighter: #ff82b2;
  --ifm-color-primary-lightest: #ff82b2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff82b2;
  --ifm-color-primary-dark: #ff82b2;
  --ifm-color-primary-darker: #ff82b2;
  --ifm-color-primary-darkest: #ff82b2;
  --ifm-color-primary-light: #ff82b2;
  --ifm-color-primary-lighter: #ff82b2;
  --ifm-color-primary-lightest: #ff82b2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.custom-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
