@font-face {
  font-family: "Tuffy-Bold-Italic";
  src: url("../../public/fonts/Tuffy_Bold_Italic.ttf");
}

@font-face {
  font-family: "Tuffy-Bold";
  src: url("../../public/fonts/Tuffy_Bold.ttf");
}

@font-face {
  font-family: "Tuffy-Italic";
  src: url("../../public/fonts/Tuffy_Italic.ttf");
}

@font-face {
  font-family: "Tuffy";
  src: url("../../public/fonts/Tuffy.ttf");
}
